html body {
font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#content {
  text-align: center;
  border-color: aquamarine;
  background-color: rgb(25, 41, 35);
  padding: 10px;
  color: white;
}
