html body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

#content {
  text-align: center;
  border-color: aquamarine;
  background-color: rgb(25, 41, 35);
  padding: 10px;
  color: white;
}
