html body {
font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}

#content {
  text-align: center;
  border-color: aquamarine;
  background-color: rgb(25, 41, 35);
  padding: 10px;
  color: white;
}

section{
  color: white;
  background-color: rgb(12, 43, 32);
  margin-top: 2px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
}